<div class="col-md-12">
  <h4>新闻编辑后台</h4>
  <hr>
  <h3 id="addnews"><%= link_to("添加新闻", new_admin_message_path, class: "btn btn-default navbar-btn pull-left") %></h3>
<br><br><br>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">全部新闻</div>

  <table class="table table-hover">
    <thead>
      <tr>
        <td>标题</td>
        <td>隐藏/显示</td>
        <td>编辑|删除</td>
        <td>创建日期</td>
        <td>修改日期</td>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= link_to(message.title, admin_message_path(message)) %></td>
          <td>隐藏|显示</td>
          <td>
              <%= link_to("Edit", edit_admin_message_path(message), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", admin_message_path(message),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
          <td>创建日期</td>
          <td>修改日期</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
